# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/
.env
.env.*
.venv/
venv/
pip-wheel-metadata/
dist/
build/
.coverage
.pytest_cache/

# Logs
*.log

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db
EHthumbs.db
Desktop.ini

# Node / Front-end
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnp.cjs
.pnp.js
.cache/

# Local data (optional)
data/
datasets/
